@import "responsive.css";
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fira+Sans:ital@1&family=Merriweather&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&family=Ubuntu&display=swap');
:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins'sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: rgb(239, 239, 245);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}

.hidden {
    display: none !important;
}

.main-content {
    padding-left: 270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    float: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title2 {
    float: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    padding-left: 17%;
}

.section-title3 {
    float: 0 0 100%;
    max-width: 100%;
    margin-top: -300px;
    padding-left: 15%;
}

.section-title4 {
    float: 0 0 100%;
    max-width: 100%;
    margin-top: -500px;
    padding-left: 15%;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title2 h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title3 h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title4 h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title2 h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title3 h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title4 h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.section-title2 h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.section-title3 h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.section-title4 h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: grey;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
}

.aside .logo a span {
    font-family: 'clicker script', cursive;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;
}

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'clicker script', cursive;
    font-size: 30px;
    font-weight: 700px;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-900);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
}

.home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 700px;
    top: -40px;
}

.home .home-img img {
    height: 400px;
    margin: auto;
    border-radius: 5px;
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 80%;
    max-width: 80%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item {
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skill {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .education {
    margin-top: 30px;
    flex: 0 0 40%;
    max-width: 50%;
    margin-bottom: -80px;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box {
    flex: 0 0 200%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 40px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item:before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-900);
}

.service .container {
    padding-bottom: 10px;
}

.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.32%;
    max-width: 100%;
    padding-left: 15%;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 5px 1px;
    text-align: center;
    transition: all 0.2s ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
    text-align: center;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #302e4d;
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 20px;
    color: var(--text-black-700);
    line-height: 25px;
}

.project .project-heading {
    padding-top: 20px;
    padding-left: 17%;
    flex: 0 0 100%;
    max-width: 100%;
}

.project .project-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
    margin-top: -230px;
}

.project .project-item {
    flex: 0 0 45%;
    max-width: 45%;
    margin-bottom: 30px;
    box-sizing: border-box;
    margin-top: -180px;
    padding-right: 0.1%;
    padding-left: 3%;
}

.project .project-item-inner {
    border: 3px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    padding-right: 1px;
    margin-left: 170px;
    margin-right: 0.01%;
}

.project .project-item-inner .project-img img {
    width: 450px;
    height: 300px;
    background-size: 1200%;
    margin-right: -10px;
    /* Horizontal Space */
    margin-bottom: -15px;
    /* Vertical Space */
    padding-bottom: 0%;
    object-fit: fill;
}

.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: -430px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding-left: 15%;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 500%;
    max-width: 500%;
    padding-left: 80%;
    margin-top: 50px;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 90%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all o.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
    width: 50%;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}

@media screen and (max-width: 768px) {
    
    div.aside {
        display: none;
    }
    .main-content {
        padding-left: 0 !important;
    }
    .section .container {
        padding: 0;
    }
    section.home {
        margin-top: -12rem;
        padding: 0 3rem;
        /* min-height: 50vh; */
    }
    
    
    .home-img::after {
        position: absolute !important;
        height: 50px !important;
        width: 50px !important;
        right: 100px !important;
        top: 233px !important;
    }
    .home-img::before {
        position: absolute !important;
        height: 50px !important;
        width: 50px !important;
        left: 450px !important;
        top: 31px !important;
    }
    .home-info p {
        margin-bottom: 44px !important;
    }
    .section .container {
        padding-top: 0;
    }
    section.about {
        margin-top: -15rem;
    }
    .about .about-content .timeline {
        width: 107%;
    }
    div.row .row1 {
        display: flex;
        margin: 0 auto;
        width: 200%;
        margin-left: -0.5rem;
    }
    .section-title2 {
        padding: 0;
        margin-top: 7rem;
        margin-left: 0.5rem;
    }
    .about .about-content .timeline .timeline-item {
        padding-left: 17rem;
    }
    .about .about-content .timeline .circle-dot {
        position: absolute;
        left: 220px;
        top: 5px;
    }
    .about .about-content .timeline .timeline-item:before {
        position: absolute;
        left: 226px;
        top: 8px;
    }
    section.service .service-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .service .service-item {
        padding-left: 0;
        padding-right: 0;
        width: 94%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .service .service-item .service-item-inner {
        padding: 27px 0px;
    }
    section.project {
        padding-top: 15rem;
    }
    .section-title3 {
        padding-left: 5;
    }
    .project .project-heading h2 {
        display: none;
    }
    .project .project-item-inner {
        margin-left: 0;
        margin-right: 0;
    }
    .project .project-item-inner .project-img img {
        width: 358px;
        height: 283px;
        /* margin-left: 1.5rem; */
    }
    .project .project-item-inner {
        margin-left: 0.5rem;
        margin-left: 1.3rem;
    }
    .section-title4 {
        margin-top: -629px;
        padding-left: 8px;
    }
    .contact-title {
        margin-top: -520px;
    }
    .contact .contact-info-item {
        padding-left: 0;
    }
    .contact .contact-form {
        padding-left: 33%;
    }
    .contact .contact-form .form-item .form-control {
        width: 100%;
    }
    .contact .contact-form .form-item textarea.form-control {
        width: 49%;
    }
    section.contact {
        min-height: 100%;
    }
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1152px;
    }
}